streamlit==1.38.0
pandas
matplotlib
altair
python-dotenv
openai
langchain_core
langchain
langchain-community
uvicorn
fastapi
python-dotenv
langgraph
pillow
llama-index
llama-index-embeddings-langchain
llama-index-vector-stores-chroma
langchain-chroma>=0.1.2
chromadb
sentence-transformers
pyMuPDF
pytesseract