streamlit==1.38.0
pandas
matplotlib
altair
python-dotenv
openai
langchain-core
llama-index-core
llama-index-vector-stores-chroma
langchain-community
chromadb
pyyaml
huggingface-hub
sentence-transformers